<f:variable name="options" value="{desk:options(field: field)}" />
<f:if condition="{field.options.multiple}">
    <f:then>
        <input type="hidden" name="{name}" value="">
        <div class="checkbox-list">
            <f:for each="{options}" as="label" key="key">
                <label class="checkbox"><input type="checkbox" name="{name}[]" value="{key}" <f:for each="{value}" as="selected"><f:if condition="{selected} == {key}">checked</f:if></f:for>> <span>{label}</span></label>
            </f:for>
        </div>
    </f:then>
    <f:else>
        <select class="input" id="{id}" name="{name}" {f:if(condition: field.readonly, then: 'disabled')}>
            <f:if condition="!{field.required}"><option value=""></option></f:if>
            <f:for each="{options}" as="label" key="key">
                <option value="{key}" {f:if(condition: '{key} == {value}', then: 'selected')}>{label}</option>
            </f:for>
        </select>
    </f:else>
</f:if>
